@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --div-color: #2C2F33  ;
}

body {
 background-color:#23272A;;
  font-family: "poppins";
  margin: 0;
}

.container {
  display: flex;
}

#cupcakeBanner {
  max-width: 100%;
}

.navbar {
  background-color: var(--div-color);
  padding: 1em;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 0.1em 1em;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#cart {
  height: auto;
  width: 1.5em;
}

h1 {
  font-size: 4em;
  color: white;
  margin-left: 2%;
}

h2 {
  font-size: 1.5em;
  color: white;
  margin-left: 1.5%;
}

.main2 {
  display: inline-block;
}

.main{
    margin: 1em;
    border-radius: 6px;
    background-color: var(--div-color);
    height: 19em;
}

select {
  border-radius: 4px;
  border-color: #999999;
  height: 3em;
  width: 20em;
  margin-left: 2%;
  font-weight: bold;
  font-size: 1em;
}

input[type="submit"] {
  background-color: #7289DA;
  color: white;
  font-size: 1.8em;
  border: none;
  width: 6.5em;
  height: 2.2em;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin-left: 4%;
}

/* prices html */
#Bottoms tr:nth-child(even) {
  background-color: #2C2F33;
}

#Topping tr:nth-child(even) {
  background-color: #2C2F33;
}

table {
  width: 98%;
  margin-left: 0.8em;
}

#Bottoms {
  text-align: left;
}

#Topping {
  text-align: left;
}

td{
    color: white;
}

th{
    color: white;
}
